<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="readBlazeRepository.blazeEditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="readBlazeRepository.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="readBlazeRepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <readBlazeRepository.blazeEditorSettings>
            <setting name="repoPathString" serializeAs="String">
                <value>S:/benefitCal_WL/dbsystem/com/fidelity/definedbenefit/benefitcalculator/repository/client</value>
            </setting>
            <setting name="editorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
        </readBlazeRepository.blazeEditorSettings>
        <readBlazeRepository.Settings1>
            <setting name="repoPathString" serializeAs="String">
                <value>"S:/benefitCal_WL/dbsystem/com/fidelity/definedbenefit/benefitcalculator/repository/client";</value>
            </setting>
            <setting name="editorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
        </readBlazeRepository.Settings1>
        <readBlazeRepository.Properties.Settings>
            <setting name="repoPathString" serializeAs="String">
                <value>S:/benefitCal_WL/dbsystem/com/fidelity/definedbenefit/benefitcalculator/repository/client</value>
            </setting>
            <setting name="editorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="compilerPath" serializeAs="String">
                <value>S:\BenefitCal_WL\dbes\Channel\BenefitCal_WL\scripts\Blazec.bat</value>
            </setting>
            <setting name="ruleInitPath" serializeAs="String">
                <value>S:\BenefitCal_WL\dbes\Channel\BenefitCal_WL\scripts\RuleInit.cmd</value>
            </setting>
            <setting name="dbesChannelScriptDir" serializeAs="String">
                <value>S:\BenefitCal_WL\dbes\Channel\BenefitCal_WL\scripts\</value>
            </setting>
        </readBlazeRepository.Properties.Settings>
    </userSettings>
</configuration>